UD1 XML/LM_U1_T2_1920Validación_con_XML_Schema_y_DTD/Ej2.dtd

<!ELEMENT students (student+)>
<!ELEMENT student (name,adress+,phone)>
<!ATTLIST student dni CDATA #REQUIRED>

<!ELEMENT name (#PCDATA)>
!ELEMENT adress (street,number,city,province)>

<!ELEMENT street (#PCDATA)>
<!ELEMENT number (#PCDATA)>
<!ELEMENT city (#PCDATA)>
<!ELEMENT province (#PCDATA)>
<!ELEMENT phone (#PCDATA)>